*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
}

.hero-main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
}

.header,
.footer {
  background-color: #1f2937;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
}
