*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 60%, 95%);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0 106px;
  padding-bottom: 72px;
  min-height: 400px;
  min-width: 100vw;
  margin-bottom: 36px;
}

.logo-text {
  font-size: 24px;
  color: hsl(90, 17%, 98%);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  flex: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 16px;
}

.nav-list a {
  text-decoration: none;
  color: hsl(220, 13%, 91%);
}

.hero {
  display: flex;
  gap: 24px;
}

.hero-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.hero-heading {
  font-size: 48px;
  color: hsl(90, 17%, 98%);
  font-weight: 900;
}

.hero-text {
  color: hsl(220, 13%, 91%);
}

.hero-btn {
  background-color: hsl(217, 91%, 59%);
  color: hsl(90, 17%, 98%);
  padding: 4px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero-img {
  display: flex;

  flex: 1;
  background-color: hsla(0, 0%, 93%, 0.42);
  width: 400px;
  height: 200px;
  border: 1px solid hsla(0, 0%, 93%, 0.42);
}

.hero-img > img {
  min-width: 100%;
  min-height: 100%;
}

.header-container,
.footer {
  background-color: hsl(215, 28%, 17%);
}

.info-heading {
  font-size: 36px;
  color: hsl(215, 28%, 17%);
  font-weight: 900;
  text-align: center;
  margin-top: 16px;
  font-weight: 900;
}
