*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 60%, 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0 160px;
  padding-bottom: 72px;
  min-height: 480px;
  min-width: 100vw;
}

.logo-text {
  font-size: 24px;
  color: hsl(90, 17%, 98%);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  flex: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 16px;
}

.nav-list a {
  text-decoration: none;
  color: hsl(220, 13%, 91%);
}

.hero {
  display: flex;
  gap: 24px;
}

.hero-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.hero-heading {
  font-size: 48px;
  color: hsl(90, 17%, 98%);
  font-weight: 900;
}

.hero-text {
  color: hsl(220, 13%, 91%);
}

.hero-btn {
  background-color: hsl(217, 91%, 59%);
  color: hsl(90, 17%, 98%);
  font-size: 16px;
  padding: 4px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.hero-img {
  display: flex;
  flex: 1;
  background-color: hsla(0, 0%, 93%, 0.42);
  width: 400px;
  height: 200px;
  border: 1px solid hsla(0, 0%, 93%, 0.42);
}

.hero-img > img {
  min-width: 100%;
  min-height: 100%;
}

.header-container,
.footer {
  background-color: hsl(215, 28%, 17%);
}

.info-heading {
  font-size: 36px;
  color: hsl(215, 28%, 17%);
  font-weight: 900;
  text-align: center;
  margin: 32px 0;
  font-weight: 900;
}

.info-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 0 120px;
  margin-bottom: 72px;
}

.item {
  max-width: 200px;
  text-align: center;
}

.img-container {
  margin: 0 auto;
}

.item .img-container {
  height: 100px;
  width: 100px;
  border: 2px solid hsl(217, 91%, 59%);
  border-radius: 8px;
}

.item img {
  width: 100%;
  height: 100%;
}

.item .text {
  font-size: 18px;
  font-weight: 600;
  padding-top: 16px;
}

.footer {
  margin-top: auto;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  padding: 72px;
  background-color: hsl(220, 13%, 91%);
  min-height: 60%;
  justify-content: center;
}

.quote {
  width: 64%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: hsl(195, 8%, 37%);
}

.quote-text {
  font-style: italic;
  font-weight: 400;
}

.author {
  font-weight: 500;
  padding-right: 16px;
  align-self: last baseline;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42%;
}

.cta-banner {
  background-color: hsl(217, 91%, 59%);
  display: flex;
  color: hsl(90, 17%, 98%);
  padding: 32px;
  width: 72%;
  font-size: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-title {
  font-weight: 700;
  margin-bottom: 8px;
}

.cta-btn {
  background-color: transparent;
  color: hsl(90, 17%, 98%);
  border: none;
  border-radius: 8px;
  padding: 4px 20px;
  border: 2px solid hsl(90, 17%, 98%);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.footer {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(220, 13%, 91%);
  flex-shrink: 0;
}
